<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDqo9Jsgg7_eHxgqMffpZ1Buu51jLQ_1eo</string>
	<key>GCM_SENDER_ID</key>
	<string>1067731105484</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>keybe.inc.Messenger</string>
	<key>PROJECT_ID</key>
	<string>messenger-3ee05</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-3ee05.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1067731105484:ios:18275d3b59ac89847eb469</string>
</dict>
</plist>